<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reserva: Sala JK{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <link href='{{ asset('fullcalendar/core/main.css') }}' rel='stylesheet' />
        <link href='{{ asset('fullcalendar/daygrid/main.css') }}' rel='stylesheet' />
        <link href='{{ asset('fullcalendar/timegrid/main.css') }}' rel='stylesheet' />
        <link href='{{ asset('fullcalendar/list/main.css') }}' rel='stylesheet' />
        <script src='{{ asset('fullcalendar/core/main.js') }}'></script>
        <script src='{{ asset('fullcalendar/interaction/main.js') }}'></script>
        <script src='{{ asset('fullcalendar/daygrid/main.js') }}'></script>
        <script src='{{ asset('fullcalendar/timegrid/main.js') }}'></script>
        <script src='{{ asset('fullcalendar/list/main.js') }}'></script>
        
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="{{path('homepage')}}">Sala JK</a>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('usuario')}}">Usuário</a>
                        </li>
                    </ul>
                </div>
                    
                {% set logado = app.session.get('logado')%}
                {% if logado['in']|default('false') == 'true' %}
                    <span style="color:#FFFFFF">@{{logado['usuario']}}&nbsp;&nbsp;
                    <a href="{{path('usuarioSair')}}" class="btn btn-primary my-2 my-sm-0" type="submit">Sair</a></span>
                {% else %}
                    <form class="form-inline my-2 my-lg-0" action="{{path('usuarioEntrar')}}" method="POST">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control  mr-sm-2" name="usuario" id="usuario" placeholder="Digite o Usuário">
                        </div>
                        <input type="password" class="form-control  mr-sm-2" name="senha" id="senha" placeholder="Digite a Senha">
                        
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Entrar</button>
                    </form>
                {% endif %}
            </nav>
            
        </header>
            
        <br><br><br>
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
    
    {% block javascripts %}{% endblock %}
</html>
